@import url('https://fonts.googleapis.com/css?family=Pacifico|Poiret+One');

body {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	font-family: "Poiret One", sans-serif;
	font-weight: 400;
}

.jumbotron {
	background-image: url("http://www.technobuffalo.com/wp-content/uploads/2014/04/fast-food.jpg");
	min-height: 600px;
	background-size: cover;
}

.jumbotron h1 {
	color: white;
	text-shadow: 2px 2px 5px black;
	font-size: 700%;
}

.jumbotron h1 small {
	color: #99ffaa;
	display: block;
	font-size: 50%;
	padding-left: 50px;
	margin-top: -20px;
}

.reservation-row {
	margin-bottom: 4em;
	margin-left: 2em;
	margin-right: 2em;
	background-image: linear-gradient(
		to top,
		#fff 0%,
		#eee 10%,
		#eee 90%,
		#fff 100%
	);

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
}
.reserve-image {
	margin-top: 50px;
}

.menu-item img {
	max-width: 380px;
	padding-right: 1em;
	border-right: 1px solid #efefef;
}

.menu-item h3 {
	font-size: 225%;
	font-weight: bold;
}

.menu-item p {
	font-size: 150%;
}

.btn {
	font-weight: bold;
}

h1,
h2 {
	font-family: "Pacifico", sans-serif;
}

hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 35%;
	color: #8c8b8b;
	font-size: 18px;
}
